<%- include("header") -%>
<div class="box" id="heading">
<h2 class="aboutTitle">This is the about page</h2>
</div>

<div class="box">

    <p class="aboutText">See You Later Alliagtor is welcmoming you on his ToDo List web-page. </p>
    <p class="aboutText"> Here you'll find different lists to fill out, so everything will be done!</p>


</div>
<%- include("footer") -%>
