<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap" rel="stylesheet">
<link href="dist/pattern.min.css" rel="stylesheet">
  </head>
  <body class="pattern-grid-lg bg">
